h2 {
  text-align: center;
  color: #BFB; 
}

header {
	padding:25px 0px;/*Marge verticale*/
  background-color: blue;
  border: 2px #888 solid;
	width: 100%;
	margin-top:0px;
  box-shadow : 10px 10px 10px;
	margin-bottom:10px;
}

body {
  margin: 0px;
	background-color: red;
}

section {
  margin-top:10px;
  margin-left:35%;
}

input[type=submit] {
  margin-top: 5px;
  background-color: #BFB;
  border-radius: 10px;
  height: 40px;
  border: 1px solid green;
}

input[type=button] {
  margin-top: 5px;
  background-color: #BFB;
  border-radius: 10px;
  height: 40px;
  border: 1px solid green;
}

img {
  width:25px;
}

select {
  margin-top: 5px;
  background-color: #BFB;
  border-radius: 10px;
  height: 40px;
  border: 1px solid green;
}


/* --------------- */
/* Gestion du menu */
/* --------------- */
.menu a {
	text-decoration:none;
	color:white;
}
.menu ul {
	list-style-type: none;
}
.menu ul ul {
	display: none;
	position: absolute;
	left: 80px;
	top: -1px;
}
.menu li {
	position: relative;
	width : 100px;
	padding:10px;
	background-color:#e74c3c;
	border:solid 1px;
	color: white;
}
.menu :hover > ul {
	display: block;
}
.menu li:hover{
	background-color: #c0392b;
}
.more {
	background: url(right.png) no-repeat right;
}
li.more {
	color: #34495e;
	border-color: white ;
}


