/* ----------------------------- */
/* Gestion du style de l'accueil */
/* ----------------------------- */
body {
	margin: 0px;
	background-color: white;
}

header {
	padding: 5px 0px;
	width: 100%;
	margin: auto;
	background-color: white;
	color: #2e353d;
	opacity: 0.50;
	line-height: 70px ;
}

h2 {
	text-align: center;
	font-family: verdana;
	font-size: 28px;

}

label, input {
	display: inline-block;
}

#fond {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(images/fond2.jpeg) 0px center no-repeat;
	background-size: cover;
}

span.erreur {
	vertical-align: middle;
	text-align: left;
	padding: 2px;
	font-size: 15px;
	width: 20px;
	color: #ff5b5b;
}

/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card-container2.card {
    max-width: 50%;
    padding: 20px 20px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

a {
	color: #F7F7F7;
}

a:hover {
	color: #F7F7F7;
	text-decoration: none;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin:auto;
    margin-top:50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    opacity: 0.60;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #mailC, .form-signin #passwordC {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin2 input[type=text] {
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label {
	display: block;
	width:150px;
	float: left;
}


.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    margin-top: 13px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
    background-color: rgb(19, 59, 160);
}
