/* ----------------------- */
/* Gestion de bandeau haut */
/* ----------------------- */
header {
	padding: 5px 0px;
	width: 95%;
	margin: auto;
}

h2 {
	text-align: center;
	font-family : "Georgia", "Courier New", sans-serif;
	font-size: 28px;
}

fieldset {
	background-color: #DCDCDC;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px;
	opacity: 0.80;
}

legend {
	font-style: bold;
	font-size: 20px;
}

body {
	margin: px;
	background-color: white;
}

/* --------------- */
/* Gestion du menu */
/* --------------- */
.menu {
	position: absolute;
	left: 0px;
}

.menu a {
	text-decoration: none;
	color: black;
}

.menu a:hover {
	font-style: bold;
}

.menu ul {
	list-style-type: none;
}

.menu ul ul {
	display: none;
	position: absolute;
	left: 80px;
	top: -1px;
}

.menu li {
	position: relative;
	width: 100px;
	padding: 8px;
	background-color: #DCDCDC;
	border: solid 1px;
	color: black;
}

.menu :hover > ul {
	display: block;
}

.menu li:hover{
	background-color: #D3D3D3;
}

li.more {
	color: #DCDCDC;
	border-color: black;
}

/* -------------------- */
/* Gestion des articles */
/* -------------------- */
#article {
	background-color: red;
	position: absolute;
	left: 350px;
	top: 150px;
	width: 70%;
}

